/* Global */

* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* Chats Page */

.chats-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.nav-bar {
  width: 100%;
  height: 66px;
  background-color: #6c14a7f5;
}

.logo-tab {
  position: absolute;
  left: 22px;
  top: 12px;
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.logout-tab {
  position: absolute;
  top: 22px;
  right: 22px;
  color: white;
  cursor: pointer;
  font-size: medium;
}

.profile-section {
  position: absolute;
  right: 100px;
  top: 23.3px;
  font-size: medium;
  color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Login Page */

#login-page {
  background-image: linear-gradient(#00000033, #303030);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

}
#login-title {
  margin-bottom: 10px;
  margin-block: revert;
  color: #fff;
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
}
#login-card {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 36px;
  padding-bottom: 36px;
  width: 40vw;
  text-align: center;
  background-color: rgb(228, 224, 224);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button {
  width: 70%;
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 10px;
}

 .facebook {
  background-color: #3b5998;
} 


.google {
  background-color: #c151ee;
  color: white;
}
.email {
  background-color: rgb(143, 238, 206);
  color: white;
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}

/* Profile Page */

.profile-page {
  text-align: center;
  background-color: #E4F9F5;
  display: grid;
  background-image: linear-gradient(#813cf033, #a80ec7e3);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.profile-page img {
  border-radius: 50%;
  width: 180px;
}

.profile-page p {
  font-weight: 500;
  color: white;
}

.middle-container {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: larger;
}